@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Saira+Condensed:wght@400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

header {
  height: 100vh;
}

header nav {
  width: 100%;
  height: 3.2rem;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5rem;
}

header nav ul li {
  list-style: none;
  margin-right: 1rem;
}

header nav ul li a {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #01014c;
  margin: 0 0.7rem;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li a i {
  margin-right: 0.5rem;
}

header .presentacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

header .presentacion .homeIntro {
  width: 50%;
  margin-left: 3rem;
}

header .presentacion .homeIntro .saludo,
header .presentacion .homeIntro .dev {
  font-weight: 400;
  font-size: 3.8rem;
  font-family: 'Saira Condensed', sans-serif;
  color: #01014c;
}

header .presentacion .homeIntro .nombre {
  font-size: 5rem;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
  color: #3089dc;
}

header .presentacion .homeIntro .skillsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem 2.2rem;
}

header .presentacion .homeIntro .skillsContent img {
  width: 80px;
}

header .presentacion .homeIntro .skillsContent img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: .7s;
  transition: .7s;
}

header .presentacion .homeImagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .presentacion .homeImagen img {
  width: 500px;
}

header .presentacion .homeImagen .redes {
  font-size: 80px;
  text-decoration: none;
  text-align: center;
  margin: 4px 10px;
  color: #01014c;
}

header .presentacion .homeImagen .redes:hover {
  color: #3089dc;
  -webkit-transform: scale(1.2 1.2);
          transform: scale(1.2 1.2);
  -webkit-transition: .2s;
  transition: .2s;
}

header .arrowContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .arrowContent .arrow {
  font-size: 4rem;
  margin-top: 60px;
  color: #01014c;
}

header .arrowContent .arrow:hover {
  color: #3089dc;
  cursor: pointer;
  -webkit-transform: scale(1.2 1.2);
          transform: scale(1.2 1.2);
  -webkit-transition: .4s;
  transition: .4s;
}

.projects {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .projectsTitle {
  font-size: 4rem;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
  color: #3089dc;
}

.projects .projectsContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

.projects .projectsContent .projectsCard {
  width: 320px;
  border: 5px solid gray;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px 3px;
          box-shadow: 3px 3px 3px 3px;
}

.projects .projectsContent .projectsCard img {
  width: 100%;
  height: auto;
}

.aboutContent {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutContent .aboutTitle {
  font-size: 4rem;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
  color: #3089dc;
}

.aboutContent .aboutText {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
}
/*# sourceMappingURL=styles.css.map */