@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Saira+Condensed:wght@400;500;800&display=swap');
@import '_variables';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {

    height: 100vh;

    nav {
        width: 100%;
        height: 3.2rem;
        background-color: lightgray;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1.5rem;

            li {
                list-style: none;
                margin-right: 1rem;

                a {
                    font-size: 1.3rem;
                    font-family: 'Montserrat', sans-serif;
                    text-decoration: none;
                    color: $color-blueNight;
                    margin: 0 0.7rem;

                    &:hover {
                        text-decoration: underline;
                    }

                    i {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }

    .presentacion {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .homeIntro {
            width: 50%;
            margin-left: 3rem;

            .saludo,
            .dev {
                font-weight: 400;
                font-size: 3.8rem;
                font-family: 'Saira Condensed', sans-serif;
                color: $color-blueNight;
            }

            .nombre {
                font-size: 5rem;
                font-family: 'Saira Condensed', sans-serif;
                font-weight: 800;
                color: $color-blueLight;
            }
            .skillsContent{
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                gap: 2rem 2.2rem  ;
                img{
                    width: 80px;
                    &:hover{
                        transform: scale(1.2, 1.2);
                        transition: .7s;
                    }
                }
            }
        }

        .homeImagen {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            img {
                width: 500px;
            }

            .redes {
                font-size: 80px;
                text-decoration: none;
                text-align: center;
                margin: 4px 10px;
                color: $color-blueNight;

                &:hover {
                    color: $color-blueLight;
                    transform: scale(1.2 1.2);
                transition: .2s;
                }
            }
        }
    }

    .arrowContent {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .arrow {
            font-size: 4rem;
            margin-top: 60px;
            color: $color-blueNight;

            &:hover {
                color: $color-blueLight;
                cursor: pointer;
                transform: scale(1.2 1.2);
                transition: .4s;
            }
        }
    }
}

.projects{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .projectsTitle{
        font-size: 4rem;
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 800;
        color: $color-blueLight;
    }
    .projectsContent{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        justify-items: center;
        .projectsCard{
            width: 320px;
            border: 5px solid gray;
            border-radius: 10px;
            box-shadow: 3px 3px 3px 3px;
            img{
                width: 100%;
                height:auto;
                
            }
        }
    }
}

    .aboutContent {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
    
        .aboutTitle {
            font-size: 4rem;
            font-family: 'Saira Condensed', sans-serif;
            font-weight: 800;
            color: $color-blueLight;
        }
    
        .aboutText {
            font-family: 'Montserrat', sans-serif;
            color: white;
            padding: 20px;

            background-color: black;
            border-radius: 10px;
            
        }
    }